:root{
    --primary: #fff;
    --bg-color: #0b4008;
    --bg-envelope-color: #3E5504;
    --envelope-tab: #668C07;
    --envelope-cover: #5D7F06;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #06080F;
    --heart-color: rgb(252, 8, 231);
    --main-text-color: #c8970a;
    --top-paper: 0%;
    --bottom-paper: 100%;
  }
  @font-face {
    font-family: 'Hobbiton Brushhand';
    src: url('/assets/fonts/hobbitonbrushhand.ttf');
  }
  @font-face {
    font-family: 'Charm';
    src: url('/assets/fonts/Charm-Regular.ttf');
  }
  @font-face {
    font-family: 'Signature';
    src: url('/assets/fonts/MonsieurLaDoulaise-Regular.ttf');
  }
  @font-face {
    font-family: 'Ringbearer';
    src: url('/assets/fonts/RingbearerMedium-51mgZ.ttf');
  }
  body{
    height:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/assets/img/table.png');
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home {
    overflow-y: hidden;
  }
  .invite-container {
    height: 100%;
/* background-image: url('/assets/img/paper.png'); */
background-size: contain;
    /* background-repeat: no-repeat; */
    background-color: #e6cfa7;
  }
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow-y: hidden;
  }
  .container > .envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
  }
  .envelope-wrapper > .envelope {
    position: relative;
    width: 300px;
    height: 230px;
  }
  .envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 130px solid var(--envelope-tab);
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
  }
  .envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 130px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
  }
  .envelope > .letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background-image: url('/assets/img/paper.png');
    background-size: cover;
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
  }
  
  .envelope > .letter > .text {
    font-family: 'Hobbiton Brushhand';
    color: var(--txt-color);
    text-align: left;
    font-size: 10px;
  }
  .text * {
    margin:0;
  }
  .text h1 {
    font-size: 1rem;
  }
  .text a, .text p {
    color:var(--txt-color);
    font-family: 'Ringbearer';
  }
  .seal {
    position: absolute;
    top: 50%;
    left: 50%;
    width:50px;
    height:50px;
  background-image: url('/assets/img/seal.png');
  background-size: cover;
    z-index: 4;
    transform: translate(-50%, -20%);
    transition: transform 0.5s ease-in-out 1s;
    cursor: pointer;
  }

  .seal:before {
    top: -7.5px;
  }
  .seal:after {
    right: 7.5px;
  }
  .flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
  }
  .flap > .envelope > .letter {
    bottom: 150px;
    transform: scale(1.5);
    transition-delay: 1s;
  }
  .flap > .seal {
    transform: rotate(90deg);
    transition-delay: 0.4s;
  }

  .invite, .story, .location, .schedule, .faq, .rsvp {
    width: 80%;
    /* margin-top:30px; */
    text-align: center;
    color:var(--txt-color);
    font-family: 'Hobbiton Brushhand';

  
  }
  .story-bio {
    font-family: 'Charm';
    font-size: 1.5rem;
    text-align: center;
  }
  .invite *, .story *, .location *, .schedule *, .faq *, .rsvp * {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .body {
    background-image: url('/assets/img/paper.webp');
    height: 100%;    
    background-size: cover;
  }
  nav {
    width: 100%;
    height:200px;
    margin: 0 !important;
    /* padding-top:20px !important; */
    background-image: url('/assets/img/paper-top.png');
    background-size: auto 100%;
    /* background-size: auto 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
.logo-top {
  position: relative;
  font-size: 40px !important;
  font-weight: 500;
  z-index: 11;
}
  .logo * {
    text-align: center;
  }
  .logo-bottom {
    font-family: 'Ringbearer';
    font-size: 4rem !important;
    font-weight:100;
    position: absolute;
    top:45px;
    letter-spacing: 0px !important;
    color:var(--main-text-color);
    z-index: 10;
  }
  .hero-body {
    padding:10%;
  }
  nav ul {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding-top:20px !important;
    padding-bottom: 20px !important;

  }
  nav ul li {
    padding-top:20px;
    font-family: 'Ringbearer';
    font-size: 1.5rem;
   z-index: 11;
  }
  nav ul li a {
    color: var(--txt-color);
  }
  .invite h1, .story h1, .location h1, .schedule h1, .faq h1, .rsvp h1 {
    font-size: 5vmax;
    letter-spacing: 2px;
  }
 .invite p, .story p, .location p, .schedule p, .faq p, .rsvp p {
  font-size:2rem;
 }
 .invite h2, .story h2, .location h2, .schedule h2, .faq h2, .rsvp h2 {
  margin: 20px 0px 20px 0px;
  font-size: 3rem;
 }
 .invite h3, .story h3, .location h3, .schedule h3, .faq h3, .rsvp h3 {
  font-size: 3rem;
 }

 .hero {

  height:100%;
  /* display: flex; */
  /* flex-direction: column; */
  margin-top:50px;

  justify-content: space-evenly;
padding-bottom: 200px;
 }
 .names, .date {
  font-size: 6rem !important;
  font-family: 'Hobbiton Brushhand' !important;
  font-weight: 100;
  color:var(--main-text-color)
 }

 .hero-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }
 .message * {
  width: 100%;
  text-align: center;
  font-family: 'Ringbearer';

 }
 .message p {
  padding-top: 24px;
 }
 .inverse {
  transform: rotate(180deg);
 }
 .message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }
.filigree {
  width: 100%;
  height:100px;
  background-color: var(--main-text-color);
  mask: url('/assets/img/filigree-top.png');
  mask-position: center;
  mask-repeat: no-repeat;
}
.details-title h2 {
  text-align: center;
  margin:0px;
}
.details-title p {
  text-align: center;
  font-family: 'Charm';
  margin-top: 0px;
  font-size: 1.5rem;
}
.sub-menu {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display:flex;
  margin-top:50px;
  justify-content: space-evenly;
}
.menu-left {
  width: 50%;

}
.sub-menu-body p {
  font-family: 'Charm';
  font-size: 2rem;
  text-align: center;
  margin: 20px 0px;
}
.sub-menu-body a {
  font-family: 'Charm';
  font-size: 1.5rem;
  text-align: center;
  color: var(--txt-color);
}

#time {
  border: 30px solid transparent; /* Match the image height */
  border-left: 0px solid transparent; /* Match the image height */
  border-image-source: url('/assets/img/SVG/ink-border.svg');
  border-image-slice: 30;
  border-image-width: 100px;
  border-image-repeat: round; /* Avoid stretching */
  border-collapse: separate; /* Prevent collapsing borders */
}
.vert {
  border-image-source: url('/assets/img/SVG/ink-vert-top.svg');
  border-image-slice: 10 10 10 0 ;
  border-image-width: 5px;
  border-image-repeat: round; /* Avoid stretching */
  border-collapse: separate; /* Prevent collapsing borders */
}
.line {
 border-image-source: url('/assets/img/SVG/ink-line.svg');
  border-image-slice: 30 0 0 0 ;
  border-image-width: 100px;
  border-image-repeat: round; /* Avoid stretching */
  border-collapse: separate; /* Prevent collapsing borders */
}
.time-info thead tr th, .time-info tbody tr td {
  padding: 10px 20px 10px 10px;
  font-family: 'Charm';
  font-size: 1.5rem;
  text-align: center;
}
.time-num {
  padding-right:20px !important;
}
.header {
  font-size: 1.5rem;
}
.menu-right {
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Charm';
  align-self: center;

}
.mobile {
  display: none;
}
.menu-right iframe {
  width: 50%;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
}
.map {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin:20px;
}
.map img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
iframe {
  width: 100%;
}
.faq-body {
  font-size: 24px !important;
  margin-bottom: 20px;
  font-weight: normal;
}
.faq-list li p, .faq-body {
  text-align: left !important;
}
.faq-intro {
  margin-bottom: 24px;
}
.faq-list {
  /* list-style-type: none; */
  /* font-weight: bold; */
  font-family: 'Charm';
}
.ender {
  font-family: 'Charm';
  font-size: 1.5rem;
  text-align: center;
  margin-top:10%;
}
.filigree {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signature {
  margin-top: 5%;
  font-family: 'Hobbiton Brushhand';
  font-size: 2rem;
padding-bottom: 50px;
}
.signature h2 {
  font-family: 'Signature';
  text-align: right;
}
.image-askew {
  aspect-ratio: 1/1;
  width: 100%;
  margin-top:20px;
  min-width: 200px;
  max-width: 230px;
  max-height: 230px;
}
.story-body {
  display: flex;
}
.story-body > * {
  display: flex;
  flex-wrap: wrap;
}
.story-aside {
  display: flex;
  flex-wrap: wrap;
  
}
.story-aside img {
  width: 25%;
max-height: 230px;}
.story-aside p {
  font-size: 1em;
  width: 75%;
}

.story-content {
  font-family: 'Ringbearer';
  text-align: left;
  font-size: 1.25em;
}
.intro {
  display: block;
  width: 100%;
  text-align: left;
}
.intro > * {
  font-size: 4rem;
  font-family: 'Hobbiton Brushhand' !important;
}
.marker {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
  height:100px;
  align-items: center;
  justify-content: center;
}
.marker h1 {
  word-spacing: 20px;
}
.floral {
  width: 33%;

  height:100%;
  display: flex;
  justify-content: center;
}
.marker h1 {

  font-family: 'Ringbearer';
  font-size: 3rem;
  background: linear-gradient(90deg, rgba(200,151,10,1) 0%, rgba(255,215,93,1) 50%, rgba(200,151,10,1) 100%);
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
}
.flipped {
  transform: scaleX(-1);
}
a {
  color:#7A5D06 !important;
}
.links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
}
.links a {
  width:50px;
color:var(--txt-color);
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.bold {
font-size:3rem !important;
margin-top: 48px;
}
.faq-link {
  color: var(--txt-color);
  font-size: 29px;
}
.rsvp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rsvp {
  font-family: 'Ringbearer';
  
}
.rsvp * {
  color:var(--txt-color);
}
@media screen and (max-width: 1300px) {
  .story-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .story-aside img {
    margin-bottom:24px;
  }
  .story-aside p {
    width: 100%;
  }
  .marker {
    flex-direction: column;
    padding: 50px 0px;
    justify-content: center;
    
  }
  .marker h1 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
 .vert {
  padding-top:20px;
 }
 .logo-top {
  letter-spacing: 0px !important;
 }
  .sub-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .menu-left, .menu-right {
    margin-top:20px;
    width: 100%;
    
  }
  .hero {
    height:fit-content;
  }
  .desktop {
    display:none;
  }
  .mobile {
    display: block;
  }

 .map {
  flex-direction: column;
margin: 20px 0px;
 }
 
 .map iframe {
  width: 100%;
  height: 500px;
  border-radius: 0px 0px 30px 30px;
 }
 .map img {
  width: 100%;
 }
 .story-content, .intro {
  font-size: 100%;
  text-align: center;
 }
 .names, .date {
  font-size: 4rem !important;
 }
 .links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 @media screen and (max-width: 480px) {
#time {
  border-right:0px;
} 
}
}